* {
	--primary: #5929d6;
	--complimentary: #a6d629;
	--secondary: #af29d6;
	--tertiary: #2950d6;
	--basicshadow: 2px 2px black;
}

body {
	background-color: var(--primary);
	color: white;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

/* Title*/
#stitle {
	text-decoration: none;
	color: white;
	-webkit-text-stroke: 0.5px black;
	font-size: 60px;
	font-weight: bolder;
	text-shadow: var(--basicshadow);
}

h1 {
	text-transform: capitalize;
	text-align: center;
}
/*-----*/

/* Navbar */
.navbar a {
	text-decoration: none;
	color: white;
	text-transform: capitalize;
}

/* ------ */

/* Navmenu */

#navmenu {
	padding: 10px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#navmenu a {
	border: 0.5px solid grey;
	padding: 1% 2%;
	background-color: var(--secondary);
	border-radius: 5px;
	opacity: 0.8;
}

#navmenu a:hover {
	background-color: var(--tertiary);
	box-shadow: 1px 0.5px rgba(0, 0, 0, 0.24), 2px 1px rgba(0, 0, 0, 0.34);
	opacity: 1;
	cursor: pointer;
}

/* ----- */

/* Preferences menu */

#prefform {
	background-color: var(--tertiary);
	font-size: smaller;
	margin: 10px;
}

button.collapsable-button {
	background-color: var(--tertiary);
	color: white;
	border: 0px;
	padding: 0px 0px 0px 5px;
	cursor: pointer;
}

.collapsable-content p > a {
	text-decoration: underline;
	color: white;
	text-transform: capitalize;
}

.collapsable-content p > a:hover {
	text-decoration: underline;
	color: var(--complimentary);
	transition: color 0.2s;
}

.collapsable-content {
	max-height: 0px;
	overflow: hidden;
	text-shadow: var(--basicshadow);
	transition: max-height 1s ease-in-out;
}

#collapsible[type="checkbox"] {
	display: none;
}

label.lbl-toggle {
	text-transform: capitalize;
	text-shadow: var(--basicshadow);
	font-size: 20px;
	cursor: pointer;
	padding-bottom: 0px;
}

input.toggle:checked + .lbl-toggle + .collapsable-content {
	max-height: 100vh;
	padding: 1%;
}

/*-----*/

/* Article CSS*/

.articletitle {
	font-size: 40px;
	text-shadow: var(--basicshadow);
	margin-bottom: 0px;
	margin-top: 10px;
}

.articlesubtitle {
	margin-top: 0px;
	font-style: italic;
	font-size: 1rem;
	margin-bottom: 0%;
	text-shadow: var(--basicshadow);
}

a[rel="author"] {
	text-decoration: none;
	color: white;
	text-shadow: 2px 1.5px black;
	text-transform: capitalize;
	text-decoration: underline;
}

article p {
	padding: 1px 8px;
	text-shadow: 2px 1.5px black;
}

.articleimg {
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.articlesubheading {
	font-size: 30px;
	text-shadow: var(--basicshadow);
	margin-bottom: 0px;
	text-decoration: underline;
	text-transform: capitalize;
}

.articlelist li {
	list-style: square;
	margin-bottom: 1.5%;
	text-shadow: 2px 1.5px black;
}

.articlelist li > .listtitle {
	font-size: larger;
	text-transform: capitalize;
	text-shadow: var(--basicshadow);
	text-decoration: underline;
}

.articlelist li > .listtitle::after {
	content: "\a";
	white-space: pre;
}

/*-----*/

/* article asides */

.articleaside {
	padding: 5px 10px;
	font-style: italic;
	width: 65%;
	margin: auto;
	background-color: var(--secondary);
	border: black 2px solid;
	text-shadow: var(--basicshadow);
}

.articleaside a {
	text-decoration: underline;
	color: white;
}

.articleaside em {
	color: var(--complimentary);
	font-weight: bolder;
	text-shadow: 2px 2px black;
	text-decoration: underline;
}

/*-----*/

/*Additional stories*/

.additionalheader {
	font-weight: bold;
	text-shadow: var(--basicshadow);
	text-transform: capitalize;
}

.additionallist > li {
	margin: 5px;
	list-style: square;
}

.additionallist > li > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-shadow: var(--basicshadow);
	cursor: pointer;
}

.additionallist > li > a:hover {
	background-color: var(--complimentary);
	transition: background-color 0.5s;
	color: var(--secondary);
	transition: color 0.5s;
}

#footericon {
	display: inline-block;
	vertical-align: middle;
}

footer {
	text-align: center;
}

footer > nav {
	display: inline-block;
	text-align: center;
}

#footermenu > a {
	display: inline-block;
	border: 0.25rem var(--secondary) solid;
	padding: 5px;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	text-shadow: var(--basicshadow);
}

#footermenu > a:hover {
	background-color: var(--secondary);
	transition: background-color 0.25s;
}

#copywritedate {
	display: block;
	font-style: italic;
	text-shadow: var(--basicshadow);
}
